.pieWrapper {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  
.pie {
    position: absolute;
    width: 40%;
    min-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    border: 3px solid grey;
    border-radius: 50%;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    background-color: white;
  }


  