body, html {
  background-color: black;
}

.crawlerPage{
  display: flex;
  align-items: center;
  
}

.crawlerList{
  margin-top: 100px;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
}

.crawlerHeaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin-bottom: 5px;
  margin-left: 0%;
}

.crawlerHeaders > div {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  text-decoration: underline;
  margin-left: 0.5%;
  font-family: 'Josefin Sans', sans-serif;

}

.crawlerColumn {
  text-align: left;
  font-size: 1.1rem;
}

.crawlerHeaders > button {
  flex: 1;
  align-self: right;
  text-align: center;
  font-size: 1.4rem;
  padding: 8px 5px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  background-color: transparent;
  color: white;
  border: solid black;
  text-decoration: underline;
  
}